{% assign counter = 0 %}
{% for post in site.pages %}
  {% if post.lang-ref == blank %}
    {% continue %}
  {% endif %}
  {% if post.lang-ref != page.lang-ref %}
    {% continue %}
  {% endif %}
  {% assign counter = counter | plus: 1 %}
{% endfor %}

{{ counter }}

{% if counter > 1 %}
  <div class="lang-options">
    <details>
      <summary>View in another language:</summary>
      <ul>
        {% for post in site.pages %}
          {% if post.lang-ref == blank %}
            {% continue %}
          {% endif %}
          {% if post.lang-ref != page.lang-ref %}
            {% continue %}
          {% endif %}
          {% if post.title != page.title %}
            <li><a href="{{ site.base-url }}/blog/{{ post.url }}" class="{{ post.lang }}" title="View in {{ post.lang }}">{{ post.lang }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </details>
  </div>
{% endif %}