<body>
  <span id="light"></span>
  <span id="night-btn">⛅</span>
</body>

<style>
  #night-btn{
    cursor: pointer;
    user-select: none;
    position: absolute;
    z-index: 1;
  }
  #light{
    position: absolute;
    z-index: 1;
    box-shadow: 0px 0px 31px 20px #ffe6b7;
    border-radius: 50px;
    display: none;
  }
</style>
<style id="day-css">
  body{
    font-family: Roboto;
    background: #fff;
    color: #000;
  }

  a{
    color: #5692f0;
  }
</style>

<style id="night-css" type="text">
  body{
    font-family: Consolas;
    background: #000;
    color: #fff
  }
  a{
    color: #ffcbcb;
  }
  #light{
    position: absolute;
    z-index: 1;
    box-shadow: 0px 0px 31px 20px #ffe6b7;
    border-radius: 50px;
  }
</style>

<script>
  var night = 0;
  var initPos = [-1, -1];
  var lightBlur = 11;
  var lightSpread = 0;
  var lightAlt = 20;
  $('#night-btn').click(function(e) {
    if (e.clientX == initPos[0] && e.clientY == initPos[1]) {
      if (!night) {
        $('#day-css').get(0).type = 'text';
        $("#light").css({
          top: $('#night-btn').offset().top + 12,
          left: $('#night-btn').offset().left + 11
        });
        $('#night-css').get(0).type = '';
        $('#night-btn').html('🌝');
        $('#light').show();
        $('#light').css('box-shadow', '0px 0px ' + (lightBlur + lightAlt) + 'px ' + (lightSpread + lightAlt) + 'px #ffecb4');
        night = 1;
      } else {
        $('#night-css').get(0).type = 'text';
        $('#light').hide();
        $('#day-css').get(0).type = '';
        $('#night-btn').html('🌞');
        night = 0;
      }
    }
  });
  $('#night-btn').mousedown(function(e) {
    initPos = [e.clientX, e.clientY];
    yoffset = $('#night-btn').offset().top - e.clientY;
    xoffset = $('#night-btn').offset().left - e.clientX;
    onmousemove = function(e) {
      yy = yoffset + e.clientY;
      xx = xoffset + e.clientX;
      $("#night-btn").css({
        top: yy,
        left: xx
      });
      $("#light").css({
        top: yy + 12,
        left: xx + 11
      });
    };
  });
  $('#night-btn').mouseup(function(e) {
    onmousemove = function() {};
  });

  $('#night-btn').mouseenter(function() {
    scrollpos = $(window).scrollTop();
    $(window).off();
    $(window).on('DOMMouseScroll', function(e) {
      if (night) {
        $('body').css("overflow", "hidden");
        scroll = -e.originalEvent.detail;
        lightAlt += scroll * 0.4;
        lightAlt = Math.max(0, lightAlt);
        $('#light').css('box-shadow', '0px 0px ' + (lightBlur + lightAlt) + 'px ' + (lightSpread + lightAlt) + 'px #ffecb4');
      }
    });
    if (night) {
      $("#night-btn").html('🌝');
    } else {
      $("#night-btn").html('🌞');
    }
  });
  $('#night-btn').mouseleave(function() {
    $(window).off();
    $(window).on('DOMMouseScroll', function(e) {
      $('body').css("overflow", "visible");
    });
    if (night) {
      $("#night-btn").html('🌙');
    } else {
      $("#night-btn").html('⛅');
    }
  });
</script>